.imageWrapper {
    width:90%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .title{
    font-size: 2em;
    color: var(--primary-color);
  }
  .image{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    max-height:35rem;
  }
  .textWrapper{
    width: 90%;
    margin: 2% auto;
    line-height: var(--line-height-base);
    background-image: url(../../assets/triangle.png),
    url(../../assets/emptycircle.png);
    background-repeat: no-repeat;
    background-position: 90% 30%, 90% 75%;
  }
  .description{
    width: 80%;
    font-size: var(--font-size-base);
    color: #191A15;
  }
  .subTitle{
    font-size: 1.3em;
    font-weight: 600;
  }
  .skills{
    font-size: var(--font-size-base);
  }
  @media screen and (max-width: 800px){
    .textWrapper{
      background-image:
      url(../../assets/emptycircle.png);
      background-position: right 75%;
    }
    .description, .skills{
      width: 100%;
      font-size: (var(--font-size-base) * 0.9)
    }
    .title {
      font-size: 1.8em;
    }
    .subTitle {
      font-size: 1.2em; 
    }
  }

  @media screen and (max-width: 480px) {
    .description, .skills{
      width: 100%;
      font-size: (var(--font-size-base) * 0.8)
    }
    .title {
      font-size: 1.6em;
    }
    .subTitle {
      font-size: 1.1em;
    }
  }