.css-1miuj5f-MuiDataGrid-panelWrapper {
  width: 300px !important;
  background-color: white;
  display: flex !important;
  flex-direction: column !important;
}

.MuiDataGrid-row {
  background-color: white;
  margin-top: 10px;
}
.MuiDataGrid-row:hover {
  box-shadow: 0 5px 10px 5px #4cd080;
}

.MuiDataGrid-cell {
  border: none !important;
  background-color: #fafafa;
}

.css-rtrcn9-MuiTablePagination-root {
  display: none !important;
}

.pagg {
  margin: auto !important;
}

.MuiPaginationItem-circular {
  background-color: rgb(236, 232, 232) !important;
  border-radius: 10px !important;
}

.Mui-selected {
  background-color: #119c59 !important;
  border-radius: 10px !important;
}

@media (width<400px) {
  .css-1miuj5f-MuiDataGrid-panelWrapper {
    width: 150px !important;
    position: absolute;
    display: flex !important;
    flex-direction: column !important;
  }

  .css-1t5wrdm-MuiDataGrid-filterForm {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
  }
}
