.container {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}
.textWrapper {
  flex-basis: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  height: 90vh;
  margin: auto 0;
  row-gap: 2rem;
}

.textWrapper::after,
.textWrapper::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: var(--primary-color);
  opacity: 0.5;
}

/* .textWrapper::after {
  width: 250px;
  height: 250px;
  bottom: 90px;
  right: 50px;
}

.textWrapper::before {
  width: 200px;
  height: 200px;
  bottom: 200px;
  right: 170px;
} */

.textWrapper h1 {
  margin: 2.1rem 0 0 0;
  font-size: 2rem;
  color: var(--primary-color);
  width: 90%;
}
.textWrapper p {
  color: var(--primary-color);
  font-size: 1.2rem;
  line-height: 30px;
  align-self: flex-start;
  width: 90%;
  margin: 0;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
  min-height: 90%;
  height: 90%;
  flex-basis: 40%;
  padding: 20px 50px;
  background-color: white;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.number {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #e1e1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #8d8d99;
}
.stepTitleWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 30px;
}
.activeStep {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
}
.nextWrapper {
  display: flex;
  justify-content: flex-end;
}
.returnLink {
  display: flex;
  align-items: center;
  width: 55px;
  height: 50px;
  gap: 10px;
}
/* @media (max-width: 1000px) {
  .textWrapper::after {
    width: 150px;
    height: 150px;
  }
  .textWrapper::before {
    width: 100px;
    height: 100px;
    bottom: 170px;
    right: 150px;
  }
} */
@media (max-width: 800px) {
  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* .textWrapper::after {
    display: none;
  }
  .textWrapper::before {
    display: none;
  } */
  .textWrapper {
    align-self: center;
    width: 65%;
    flex-basis: 20%;
    min-height: auto;
    height: auto;
    width: 95%;
  }
  .textWrapper h1 {
    margin: 2.2rem 0 0 0;
  }
  .returnLink {
    margin-top: 1rem;
  }
  .textWrapper p {
    margin-bottom: 2rem;
  }
  .formWrapper {
    margin-bottom: 3.8rem;
    min-height: 700px;
  }
}


@media (max-width: 600px) {
  .buttonWrapper {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .formWrapper {
    padding: 50px 30px;
    width: 77%;
  }
  .stepTitleWrapper {
    gap: 7px;
    font-size: 14px;
  }
}
