  .pageWrapper{
    padding-top: 150px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .title{
    font-size: 2em;
    color: var(--primary-color);
  }

  .CardWrapper{
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 800px){
    .title {
      font-size: 1.8em;
    }
  }

  @media screen and (max-width: 480px) {
    .title {
      font-size: 1.6em;
    }
  }